@model IEnumerable<ARManila.Models.SchoolYear>

@{
    ViewBag.Title = "SchoolYearARSetup";
}

<h2>School Year - AR Setup</h2>

<table class="table table-bordered table-striped table-vcenter js-dataTable-full">
    <thead>
        <tr>
            <th>
                School Year
            </th>
            <th>
                QNE GL Code
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolYearName)
                </td>
                <td>
                    @(item.QNEAccountCode != null ? item.QNEAccountCode : "")
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditSchoolYearARSetup", new { id = item.SYID })
                </td>
            </tr>
        }
    </tbody>
</table>
