@{
    ViewBag.Title = "Home Page";
}
<h2 class="content-heading">Enrollment-AR Module</h2>
<div class="block block-rounded">
    <div class="block-content">
        <p class="lead">Make sure to enable two-factor authentication when using this system.</p>
        <p>@Html.ActionLink("Manage Credentials", "Index", "Manage")</p>
    </div>
</div>
