@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="login-box">
    <div class="login-logo">
        <img src="~/Images/LetranBataanLogoSmall.png" />
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <h3 class="font-weight-bolder text-center">Finance Module</h3>
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>

        </div>
    </div>
</div>
